{% extends 'base.html' %}

{% block content %}
    <h3>Property Evaluation Tool</h3>
    <form action="/result" method="POST">
    <label for="distance">Distance from City Centre</label>
        <div class="form-group">
            <input type="number" class="form-control" id="distance" name="distance" min="0" max="10" step="any" placeholder="Distance in km">
        </div>
        <label for="age">Age of the Property</label>
        <div class="form-group">
            <input type="number" class="form-control" id="age" name="age" min="0" max="10" step="any" placeholder="Age in years" >
        </div>
        <label for="population">Population of the area</label>
        <div class="form-group">
                <input type="number" class="form-control" id="population" name="population" min="0" max="10" step="any" placeholder="Your input here will be multiplied by a million">
        </div>
        <label for="energy_rating">Energy Rating of the property</label>
        <div class="form-group">
                <input type="number" class="form-control" id="energy_rating" name="energy_rating" min="0" max="100" placeholder="Energy rating of the property.">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
